.navbar{
    position: relative;
    width: 800px;
    height: 70px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    margin: 0 auto;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    color: black;
}


.wave {
    display: inline-block;
    animation: wave 1.2s ease-in-out infinite;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-8px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(8px);
    }
}