.navbar {
    position: relative;
    width: 800px;
    height: 70px;
    background: #707172;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    color: black;
}


.wave {
    display: inline-block;
    animation: wave 1.2s ease-in-out infinite;
}

@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-8px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(8px);
    }
}



.homepage {
    position: relative;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
        url("/images/cover3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

.homepage h1{
    color: aliceblue;
    margin-left: 150px;
    margin-bottom: 100px;
    margin-top: 0px;
}
.homepage p {
    color: white;
}


.buttons a {
    background: #707172;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    margin-top: 30px;
    margin-bottom: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.buttons a:hover {
    color: black;
}

.content{
    margin-top: 120px;
    margin-left: 50px;
}